body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 240, 240);
}

.main {
  background-color: white;
  padding: 1em;
  box-shadow: 0 0 10px rgb(194, 194, 194);
  color: rgb(84, 84, 84);
}

.intro {
  text-align: center;
  margin: 1em;
}

.form {
  text-align: center;
  line-height: 2.5em;
}

#salary {
  padding: 0.3em;
  background-color: rgb(233, 233, 233);
  border: none;
  font-size: 17px;
}

#count {
  border: none;
  padding: 0.5em 1em;
  margin: 1.5em;
  background-color: rgb(56, 55, 55);
  color: white;
}

#count:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

h2 {
  font-size: 17px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2.5em;
}

.result {
  padding: 0em 1em 1em 1em;
}

.result p {
  font-size: 15px;
  line-height: 1.7em;
}

.result span {
  font-weight: bold;
  font-size: 15px;
  color: rgb(12, 12, 12);
  line-height: 2.5em;
}

.ten,
.twenty,
.thirty,
.forty {
  text-align: center;
  line-height: 2em;
  margin: 2.5em 0em 0.5em;
  font-weight: bold;
}

.ten {
  background-color: lightblue;
  margin-top: 1.5em;
}

.twenty {
  background-color: rgb(175, 235, 175);
}

.thirty {
  background-color: rgb(243, 243, 140);
}

.forty {
  background-color: rgb(255, 218, 149);
}

#infoBlue,
#infoGreen,
#infoYellow,
#infoOrange {
  display: none;
}

#blueButton,
#greenButton,
#yellowButton,
#orangeButton {
  border: none;
  padding: 0.4em;
  cursor: pointer;
}

#blueButton {
  background-color: rgb(206, 228, 235);
}

#greenButton {
  background-color: rgb(210, 235, 210);
}

#yellowButton {
  background-color: rgb(242, 242, 191);
}

#orangeButton {
  background-color: rgb(247, 230, 198);
}

@media (min-width: 450px) {
  .main {
    max-width: 450px;
    margin: 2.5em auto;
    padding: 2em;
  }
}
